@{
    ViewData["Title"] = "Privacy Policy";
}
@model string
@{
    string data = Model;
}
<h1>@ViewData["Title"]</h1>

<p id="Info">Use this page to detail your site's privacy policy.</p>
<p> @data</p>
