@model Frameworks.Models.ProgresLoc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProgresLoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Deleted" />
            <div class="form-group">
                <label asp-for="LocationsId" class="control-label">Location Id</label>
                <select asp-for="LocationsId" class="form-control" asp-items="ViewBag.LocationsId"></select>
                <span asp-validation-for="LocationsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameworksUserId" class="control-label">User Id</label>
                <input asp-for="FrameworksUserId" class="form-control" />
                <span asp-validation-for="FrameworksUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Date Completed</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
